.welcome_intro {
  width: 36vw;
  padding: 8rem 0 0 0;
}
.welcome_intro p {
  font-size: 1.5rem;
}

.welcome_svg img {
  height: 40vw;
  /*padding-top: 1rem;*/
  /*padding-left: 10rem;*/
}
.svgContainer {
  width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.svg {
  width: 2rem;
}

.hero_title {
  font-size: calc((100vw/150) + 36px);
  text-align: left;
}
@media screen and (max-width: 996px) {
  .hero_title {
    font-size: 1.8rem;
    text-align: center;
  }
  .welcome_svg img {
    width: 50vh;
    height: 50vh;
  }
  .welcome_intro {
    width: auto;
    padding: 3rem 3rem 0;
  }
  .welcome_intro p {
    font-size: 1.2rem;
  }
  .svgContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
